<div class="row">
    <div class="card col-md-3 content-item">
        <!--Card image-->
        <img class="img-fluid" src="assets/flower/hoa-sen_from_hoayeuthuong.vn.jpg" alt="Card image cap">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Hoa Sen</h4>
            <!--Text-->
            <p class="card-text">Hoa sen với những phẩm chất thanh cao hiếm loài hoa nào sánh được,
                không chỉ đặc biệt vì sen hồng là quốc hoa của Việt Nam ta, mà bên cạnh đó, 
                hoa sen cũng trở thành một loài hoa tặng được yêu thích bởi những ý nghĩa biểu đạt của nó...
             </p>
            <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>    
    </div>
    <div class="card col-md-3 content-item">
        <!--Card image-->
        <img class="img-fluid" src="assets/flower/hoa-hong_from_hoayeuthuong.vn.jpg" alt="Card image cap">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Hoa Hồng</h4>
            <!--Text-->
            <p class="card-text">Trong ngày lễ tình nhân hay mỗi dịp kỉ niệm tình yêu, hoa hồng là một món quà không thể thiếu. Bởi lẽ đó là loại hoa tượng trưng cho tình yêu được nhiều người biết đến nhất trên thế giới, là loại hoa ngọt ngào, nồng thắm mà tình yêu đã len lỏi vào từng cánh hoa, nhị hoa và cả hương thơm dịu nhẹ phảng phất...
              </p>
            <a href="#" class="btn btn-primary">Xem chi tiết</a>
        </div>    
    </div>
    <div class="card col-md-3 content-item">
        <!--Card image-->
        <img class="img-fluid" src="assets/flower/hoa-pangxe_from_hoayeuthuong.vn.jpg" alt="Card image cap">
    
        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Hoa Păng-Xê</h4>
            <!--Text-->
            <p class="card-text">Hoa păng-xê - loài hoa của đợi chờ, nhớ mong và thể hiện sự mê hoặc, quyến rũ.
              </p>
            <a href="#" class="btn btn-danger">Xem chi tiết</a>
        </div>    
    </div>
</div>