<div>
  <nav class="navbar navbar-expand-lg navbar-dark primary-color">
    <a class="navbar-brand" href="#">FLOWER SHOP</a>
    <a class="navbar-brand" routerLink="/home">Home page</a>
    <a class="navbar-brand" href="#">Fresh Flower</a>
    <a class="navbar-brand" href="#">FLower in pot</a>
    <a class="navbar-brand" href="#">Promotion</a>
    <form class="form-inline my-2 my-lg-0 ml-auto">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
    </form>
  </nav>
</div>